<?xml version="1.0" encoding="UTF-8"?>
<?if $(sys.BUILDARCH)="x86"?>
<?define Program_Files="ProgramFilesFolder"?>
<?elseif $(sys.BUILDARCH)="x64"?>
<?define Program_Files="ProgramFiles64Folder"?>
<?else?>
<?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" UpgradeCode="7c775ec8-a978-11e9-9c98-efcc6506c320" Name="gravwell events ingester" Version="3.2.8" Manufacturer="Gravwell Inc" Language="1033">
		<Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package" InstallScope="perMachine" />
		<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
		<Upgrade Id="7c775ec8-a978-11e9-9c98-efcc6506c320">
			<UpgradeVersion Minimum="3.2.8" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
			<UpgradeVersion Minimum="0.0.0" Maximum="3.2.8" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
		</Upgrade>
		<Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.Program_Files)">
				<Directory Id="BASEDIR" Name="gravwell">
					<Directory Id="INSTALLDIR" Name="eventlog">
						<Component Id="ApplicationFiles" Guid="d5683554-3145-11e8-a0c2-6bdc9ccf317a">
							<File Id="executable" Source="winevents.exe" />
							<File Id="iconfile" Source="gravwell.ico" />
							<ServiceInstall Vital="yes" ErrorControl="ignore" Type="ownProcess" DisplayName="Gravwell Events Ingester" Description="Gravwell Windows Events Service" Name="GravwellEvents" Start="auto" />
							<ServiceControl Id="ControlControlGravwellEventsService" Remove="both" Name="GravwellEvents" Start="install" Stop="both" Wait="yes" />
							<RemoveFile Id="RemoveEXE" Name="*.exe" On="uninstall" />
							<RemoveFile Id="RemoveICO" Name="*.ico" On="uninstall" />
						</Component>
						<Component Id="ConfigFiles" NeverOverwrite="yes" Permanent="yes" Guid="d5683554-3145-11e8-a0c2-6bdc9ccf317b">
							<File Id="Configfile" Source="config.cfg" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		<Property Id="CONFIGFILE" Secure="yes" />
		<SetProperty Id="CopyConfig" Value="&quot;[SystemFolder]cmd.exe&quot; /c echo f | xcopy &quot;[CONFIGFILE]&quot; &quot;[INSTALLDIR]config.cfg&quot; /Y /Q /R" After="CostFinalize" />
		<CustomAction Id="CopyConfig" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" />
		<SetProperty Id="EditConfig" Value="&quot;notepad.exe&quot; [INSTALLDIR]config.cfg" Before="EditConfig" Sequence="execute" />
		<CustomAction Id="EditConfig" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />
		<SetProperty Id="StopService" Value="&quot;sc.exe&quot; stop GravwellEvents" Before="StopService" Sequence="execute" />
		<CustomAction Id="StopService" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />
		<SetProperty Id="StartService" Value="&quot;sc.exe&quot; start GravwellEvents" Before="StartService" Sequence="execute" />
		<CustomAction Id="StartService" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />
		<SetProperty Id="Purge" Value="&#34;cmd.exe&#34; del /q /s [INSTALLDIR]*.*" After="RemoveFiles" Sequence="execute"/>
		<CustomAction Id="Purge" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
		<InstallExecuteSequence>
			<RemoveExistingProducts After="InstallValidate" />
			<Custom Action="CopyConfig" After="InstallFiles">NOT Installed AND NOT REMOVE AND NOT OLDERVERSIONBEINGUPGRADED AND CONFIGFILE</Custom>
			<Custom Action="EditConfig" After="InstallFiles">NOT CONFIGFILE AND NOT Installed AND NOT REMOVE AND NOT OLDERVERSIONBEINGUPGRADED AND UILevel=5</Custom>
			<Custom Action="StopService" After="EditConfig">NOT Installed AND NOT REMOVE AND NOT OLDERVERSIONBEINGUPGRADED</Custom>
			<!--
			<Custom Action="Purge" Before="StartService">REMOVE ~= "ALL"</Custom>
			-->
			<Custom Action="StartService" After="StopService">NOT Installed AND NOT REMOVE AND NOT OLDERVERSIONBEINGUPGRADED</Custom>
		</InstallExecuteSequence>
		<Feature Id="DefaultFeature" Level="1">
			<ComponentRef Id="ApplicationFiles" />
			<ComponentRef Id="ConfigFiles" />
		</Feature>
		<UI>
			<!-- Define the installer UI -->
			<UIRef Id="WixUI_HK" />
		</UI>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<!-- this should help to propagate env var changes -->
		<CustomActionRef Id="WixBroadcastEnvironmentChange" />
	</Product>
</Wix>