[Install]
WantedBy=multi-user.target

[Unit]
Description=Gravwell HTTP Post Ingester Service
After=network-online.target
OnFailure=gravwell_crash_report@%n.service

[Service]
Type=simple
ExecStart=/opt/hubspot/gravwell_http_post
WorkingDirectory=/opt/gravwell/bin
Restart=always
User=gravwell
Group=gravwell
StandardOutput=null
StandardError=journal
LimitNPROC=infinity
LimitNOFILE=infinity
PIDFile=/var/run/gravwell_hubspot.pid
TimeoutStopSec=5
KillMode=process
KillSignal=SIGINT
